@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
}

body .imgBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, #20003a, #012840);
    z-index: 1;
    mix-blend-mode: exclusion;
}

body .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    z-index: 1111;
}

.container .text-header {
    max-width: 600px;
    text-align: center;
}

.container .text-header h1 {
    font-size: 36px;
    font-weight: 600;
    color: #000000;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.container .text-header p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.container .content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.container .content .content-box {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0px 30px;
}

.container .content .content-box ul {
    list-style: none;
    margin: 0;
}

.container .content .content-box ul li {
    display: flex;
    margin-bottom: 48px;
}

.container .content .content-box ul li .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-size: 24px;
    height: 60px;
    width: 60px;
    margin-right: 16px;
}

.container .content .content-box ul li h3 {
    text-decoration: none;
    color: #ff6b6b;
    font-size: 20px;
    font-weight: 600;
}

.container .content .content-box ul li p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
}

.container .content .content-form-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 40%;
    padding: 36px;
}

.container .content .content-form-box h2 {
    font-size: 32px;
    color: #000000;
    margin: auto;
}

.container .content .content-form-box .input-box {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .content .content-form-box .input-box input,
.container .content .content-form-box .input-box textarea {
    width: 100%;
    font-size: 16px;
    padding: 4px 0px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 2px solid black;
}

.container .content .content-form-box .input-box label {
    position: absolute;
    left: 0;
    color: #666;
    padding: 6px 0px;
    margin: 8px 0px;
    font-size: 16px;
    pointer-events: none;
}

.container .content .content-form-box .input-box input:focus ~ label,
.container .content .content-form-box .input-box input:valid ~ label,
.container .content .content-form-box .input-box textarea:focus ~ label, 
.container .content .content-form-box .input-box textarea:valid ~ label {
    transform: translateY(-24px);
    transition: all 0.5s ease;
    font-size: 14px;
    color: #ff6b6b;
}

.container .content .content-form-box .input-box input[type="submit"] {
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #ff6b6b;
}

@media only screen and (max-width: 830px) {
    .container .text-header {
        padding: 10px;
        margin-top: 10px;
    }
    .container .content {
        flex-direction: column;
        align-items: center;
    }

    .container .content .content-box, 
    .container .content .content-form-box {
        width: 100%;
    }
}