@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body .imgBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, #20003a, #012840);
    z-index: 1;
    mix-blend-mode: exclusion;
}

body .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 100px;
    z-index: 1111;
}

.container .text-header {
    max-width: 800px;
    text-align: center;
}

.container .text-header h1 {
    font-size: 36px;
    font-weight: 600;
    color: #081E26;
}

.container .text-header p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.container .content {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 40px;
}

.container .content .content-box {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 30px;
}

.container .content .content-box ul {
    list-style: none;
}

.container .content .content-box ul li {
    margin-top: 20px;
}

.container .content .content-box ul li i {
    background-color: white;
    border-radius: 50%;
    font-size: 24px;
    padding: 16px;
    margin-right: 10px;
}

.container .content .content-box ul li a {
    text-decoration: none;
    color: #012840;
    font-size: 18px;
    font-weight: 600;
}

.container .content .content-box ul li p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    margin-top: 15px;
}

.container .content-form-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #000000;
    width: 50%;
    padding: 30px;
}

.container .content-form-box h2 {
    margin: auto;
}

.container .content-form-box input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.container .content-form-box textarea {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}