@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body .imgBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, #20003a, #012840);
    z-index: 1;
    mix-blend-mode: screen;
}

body .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 100px;
    z-index: 1111;
}

.container .text-header {
    max-width: 800px;
    text-align: center;
}

.container .text-header h1 {
    font-size: 36px;
    font-weight: 600;
    color: #081E26;
}

.container .text-header p {
    font-size: 20px;
    font-weight: 400;
    color: #081E26;
}

.container .content {
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 40px;
}

.container .content .content-box {
    width: 50%;
}

.container .content-form-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
}

.container .content-form-box form {
    
}